[submodule "external/umac"]
	url = https://github.com/gusmanb/umac
	path = external/umac
[submodule "external/picodvi"]
	path = external/picodvi
	url = https://github.com/gusmanb/PicoDVI
[submodule "external/picofat"]
	path = external/picofat
	url = https://github.com/gusmanb/pico_fatfs
