[submodule "external/umac"]
	url = https://github.com/evansm7/umac
	path = external/umac
[submodule "external/picodvi"]
	path = external/picodvi
	url = https://github.com/Wren6991/PicoDVI
[submodule "external/picofat"]
	path = external/picofat
	url = https://github.com/elehobica/pico_fatfs